html {
  scroll-behavior: smooth;
}

section {
  scroll-margin-top: 60px;
}

body {
  /* background-image: url(../img/bg.png); */
  background-color: rgb(0, 0, 0);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  color: black;
  font-family: "Roboto", sans-serif;
}

/* Navbar */

#navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  width: 100%;
  margin: auto;
  top: 0;
  left: 0;
  right: 0;
  height: 10%;
  z-index: 999;
  background-color: rgb(0, 0, 0);
}

#navbar h1 {
  margin-left: 2.5%;
  font-size: 20px;
  font-weight: bold;
  color: rgb(25, 217, 153);
}

#navbar ul {
  display: flex;
  margin-right: 2.5%;
}

#navbar ul li a {
  color: aquamarine;
  transition: 0.3s;
  margin: 20px;
}

#navbar ul li a:hover {
  color: rgb(255, 255, 255);
}

/* Hamburger Menu */

.menu-toggle {
  display: none;
  flex-direction: column;
  height: 25px;
  justify-content: space-between;
  margin-right: 2.5%;
  position: relative;
}

.menu-toggle span {
  display: block;
  width: 28px;
  height: 3px;
  background-color: aquamarine;
  margin-left: 10%;
  transition: 0.5s;
}

.menu-toggle input {
  position: absolute;
  width: 50px;
  height: 30px;
  opacity: 0;
  left: -12px;
  top: -4px;
  cursor: pointer;
  z-index: 10;
}

/* Hamburger animation */

.menu-toggle span:nth-child(2) {
  transform-origin: 0 0;
}

.menu-toggle span:nth-child(4) {
  transform-origin: 0 100%;
}

.menu-toggle input:checked ~ span:nth-child(2) {
  transform: rotate(45deg) translate(-1px, -1px);
}

.menu-toggle input:checked ~ span:nth-child(4) {
  transform: rotate(-45deg) translate(2.5px, -4px);
}

.menu-toggle input:checked ~ span:nth-child(3) {
  transform: 0;
  opacity: 0;
}

/* Akhir Navbar */

/* Home */

#home {
  padding-top: 6%;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  width: 95%;
  margin: 6% auto 2%;
  border-radius: 10px;
  background: radial-gradient(aquamarine 30%, black 70%);
  transition: 0.5s;
}

#home .kiri {
  width: 37.5%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#home .kiri p {
  margin-left: 5%;
  font-size: 16px;
  margin-top: 2vw;
}

#home .kiri h1 {
  margin-left: 5%;
  font-size: 7vw;
}

#home .kiri a {
  margin-left: 5%;
  width: 40%;
  text-align: start;
  font-size: 16px;
  margin-top: 2vw;
  border-radius: 3px;
  background: black;
  color: white;
  text-align: center;
  padding: 5px;
  cursor: pointer;
  transition: 0.3s;
}

#home .kiri a:hover {
  color: rgb(0, 0, 0);
  border: 2px solid rgb(0, 0, 0);
  background: transparent;
}

#home .atas {
  display: flex;
  justify-content: space-evenly;
}

#home .hero {
  width: 30%;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 10;
}

#home .hero img {
  max-width: 100%;
  filter: drop-shadow(5px 5px 5px);
}

#home .bawah {
  margin: auto;
  font-size: 10vw;
  font-weight: bold;
  color: aquamarine;
  border: 3px solid aquamarine;
  z-index: 99;
  transition: 0.3s;
}

#home .bawah:hover {
  color: black;
  background-color: aquamarine;
}

/* Akhir Home */

/* About */

#about {
  width: 95%;
  display: flex;
  margin: 0 auto 6%;
  justify-content: space-between;
  align-items: center;
}

#about .hero {
  width: 40%;
  display: flex;
  justify-content: center;
}

#about img {
  width: 80%;
  filter: drop-shadow(5px 5px 5px aquamarine);
}

#about .isi {
  display: flex;
  flex-direction: column;
  width: 80%;
}

#about .isi .pengenalan {
  height: 20%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 3vw;
  margin-top: 5%;
  margin-bottom: 5%;
  color: aquamarine;
  border: 1px solid aquamarine;
  margin-right: 5%;
  border-radius: 5px;
  transition: 0.3s;
}

#about .isi .pengenalan:hover {
  color: black;
  background-color: aquamarine;
}

#about .isi .pengenalan h1 {
  font-size: 32px;
  font-weight: bold;
  margin-bottom: 10px;
}

#about .isi .profile {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-right: 5%;
  height: 60%;
}

#about .isi .pendidikan,
.pengalaman,
.contact {
  margin: 5px;
}

#about .isi .profile .pendidikan {
  flex: 1;
  border: 1px solid aquamarine;
  display: flex;
  justify-content: center;
  flex-direction: column;
  border-radius: 5px;
  padding: 2vw;
  color: aquamarine;
  transition: 0.3s;
}

#about .isi .profile .pendidikan:hover {
  background-color: aquamarine;
  color: black;
}

#about .isi .profile .pengalaman:hover {
  background-color: aquamarine;
  color: black;
}

#about .isi .profile .contact:hover {
  background-color: aquamarine;
  color: black;
}

#about .isi .profile .pendidikan h1,
.pengalaman h1,
.contact h1 {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 10px;
  text-align: center;
}

#about .isi .profile .pendidikan p {
  text-align: center;
  font-size: 16px;
}

#about .isi .profile .pengalaman {
  flex: 1;
  border: 1px solid aquamarine;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  border-radius: 5px;
  padding: 2vw;
  color: aquamarine;
  transition: 0.3s;
}

#about .isi .profile .pengalaman p {
  width: 80%;
  text-align: center;
  font-size: 16px;
}

#about .isi .profile .contact {
  flex: 1;
  border: 1px solid aquamarine;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  border-radius: 5px;
  padding: 2vw;
  color: aquamarine;
  transition: 0.3s;
}

#about .isi .profile .contact p {
  font-size: 16px;
  text-align: center;
}

/* Akhir About */

/* Hobby */
#hobby {
  display: flex;
  width: 95%;
  flex-direction: column;
  margin: 0 auto 6%;
}

#hobby h1 {
  font-size: 15vw;
  text-align: center;
  margin-bottom: 2vw;
  color: aquamarine;
}

#hobby .daftar-hobby {
  display: flex;
  width: 95%;
  margin: 10px;
  margin: auto;
  justify-content: space-between;
}

#hobby img {
  width: 100%;
  border-radius: 6px;
}

#hobby .daftar-hobby .satu,
.dua,
.tiga,
.empat {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  border: 1px solid aquamarine;
  padding: 10px;
  border-radius: 6px;
  color: aquamarine;
  margin: 10px;
  transition: 0.3s;
}

#hobby .daftar-hobby .satu:hover {
  color: black;
  background-color: aquamarine;
}

#hobby .daftar-hobby .dua:hover {
  color: black;
  background-color: aquamarine;
}

#hobby .daftar-hobby .tiga:hover {
  color: black;
  background-color: aquamarine;
}

#hobby .daftar-hobby .empat:hover {
  color: black;
  background-color: aquamarine;
}

#hobby .daftar-hobby .satu h2,
.dua h2,
.tiga h2,
.empat h2 {
  font-size: 20px;
  text-align: center;
  font-weight: bold;
  margin-top: 20px;
  margin-bottom: 20px;
  display: flex;
}

/* Akhir Hobby */

/* Band Favorit */

#bandfav {
  display: flex;
  width: 95%;
  margin: 0 auto 6%;
  justify-content: center;
  align-items: center;
}

#bandfav .judul {
  font-size: 12vw;
  flex: 1;
}
#bandfav .judul h1 {
  margin-left: 10%;
  color: aquamarine;
}

#bandfav .daftarband {
  flex: 1;
}

#bandfav .daftarband img:hover {
  scale: 1.1;
}

#bandfav .daftarband img {
  width: 30%;
  margin: 2px;
  border-radius: 1vw;
  box-shadow: 0px 4px 1px aquamarine;
  transition: 0.3s;
}

/* Akhir Band Favorit */

/* Contact */

#contact {
  display: flex;
  margin: 0 auto 6%;
  width: 95%;
  color: aquamarine;
}

#contact .infocontact h1 {
  font-size: 20px;
  font-weight: bold;
}

#contact i {
  font-size: 40px;
}

#contact .infocontact {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  flex: 1;
}

#contact .infocontact .no a,
.email a,
.lokasi a {
  display: flex;
  margin-bottom: 4px;
  justify-content: start;
  font-size: 16px;
  cursor: pointer;
  transition: 0.3s;
  transition: .3s;
}

#contact .infocontact .no a:hover {
  color: white;
}

#contact .infocontact .email a:hover {
  color: white;
}

#contact .infocontact .lokasi a:hover {
  color: white;
}

#contact .infocontact .no h2,
.email h2,
.lokasi h2 {
  width: 50%;
  margin-left: 10px;
  text-align: start;
}

#contact .infocontact .sosmed i {
  margin-right: 10px;
  transition: 0.3s;
}

#contact .infocontact .sosmed a {
  display: flex;
}

#contact .contactme {
  display: flex;
  flex: 1.5;
  flex-direction: column;
  background: linear-gradient(110deg, rgba(32, 36, 36), rgb(0, 0, 0));
  padding: 5vw;
  border-radius: 30px;
  height: 100%;
  box-shadow: 0px 2px 1px rgb(15, 137, 96);
}

#contact .infocontact .no a,
.email a,
.lokasi a {
  display: flex;
  color: aquamarine;
}

#contact .sosmed {
  display: flex;
  gap: 20px;
}

#contact .sosmed a {
  transition: 0.3s;
  color: aquamarine;
}

#contact .sosmed a:hover {
  color: white;
}

#contact .contactme h1 {
  font-size: 5vw;
  font-weight: bold;
  text-align: start;
  margin-left: 20px;
  margin-bottom: 20px;
}

#contact .contactme input,
textarea {
  display: flex;
  flex-direction: column;
  width: 95%;
  border: none;
  box-sizing: border-box;
  padding: 10px;
  margin: 0 auto 10px;
  background: black;
  color: rgb(255, 255, 255);
  border-radius: 10px;
  transition: .3s;
}

#contact .contactme input[type="submit"]:active {
  background-color: rgb(24, 190, 135);
  color: black;
}

#contact .contactme input[type="submit"]:hover {
  background-color: aquamarine;
  color: black;
}

#contact .contactme input[type="text"]:focus, textarea:focus {
  background-color: aquamarine;
  color: black;
  
}

#contact .contactme input[type="email"]:focus {
  background-color: aquamarine;
  color: black;
}

#contact .contactme textarea {
  height: 150px;
}

/* Akhir Contact */

/* Footer */
footer {
  width: 100%;
  background: linear-gradient(to bottom, rgba(32, 36, 36), rgb(0, 0, 0));
  color: white;
  display: flex;
  justify-content: center;
}

footer p,
a {
  text-decoration: none;
  color: white;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 50px;
  border-radius: 7px;
}

footer a {
  margin-left: 5px;
}
/* Akhir Footer */

/* Responsif */

/* Ukuran Tablet  */
@media (max-width: 768px) {
  /* Navbar  */

  #navbar {
    height: 50px;
  }

  #navbar ul {
    position: absolute;
    display: flex;
    flex-direction: column;
    height: 60vh;
    width: 100%;
    top: 0;
    left: 0;
    background-color: rgb(0, 0, 0);
    margin-top: 50px;
    transition: 0.5s;
    opacity: 1;
    gap: 5px;
    left: -100%;
  }

  #navbar ul li a:hover {
    background-color: aquamarine;
    padding: 10px;
    border-radius: 0;
    color: black;
  }

  #navbar ul.slide {
    left: 0;
  }

  #navbar .menu-toggle {
    display: flex;
    color: aquamarine;
  }

  /* Akhir Navbar */

  /* Home */

  #home .kiri input {
    width: 50%;
  }

  /* Akhir Home */

  /* About */

  #about {
    flex-direction: column;
  }

  #about .isi .profile {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 50%;
  }

  #about .isi .pendidikan,
  .pengalaman,
  .contact {
    margin: 10px;
  }

  #about .isi .pengenalan {
    margin-right: 0;
  }

  #about .isi .profile {
    margin-right: 0;
  }

  /* Akhir About */

  /* Band Fav */

  #bandfav {
    flex-direction: column;
    text-align: center;
  }

  #bandfav .judul h1 {
    margin-left: 0;
    margin-bottom: 5%;
  }

  /* Akhir Band Fav */

  /* Contact */

  #contact {
    flex-direction: column;
    align-items: center;
  }

  #contact .infocontact h1 {
    font-size: 32px;
  }

  #contact .infocontact {
    align-items: center;
    display: flex;
  }

  #contact .infocontact .no,
  .email,
  .lokasi {
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    margin: 10px;
    width: 100%;
  }

  #contact .sosmed {
    flex-direction: column;
  }

  #contact a {
    display: flex;
    flex-direction: column;
    text-align: center;
    color: aquamarine;
    align-items: center;
    width: 100%;
    gap: 20px;
  }

  #contact .infocontact .lokasi {
    margin-bottom: 4%;
  }

  #contact .infocontact .no h2,
  .email h2,
  .lokasi h2 {
    text-align: center;
    margin-left: 0;
    font-size: 14px;
  }

  #contact .infocontact .sosmed {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-left: 0;
  }

  #contact .infocontact .sosmed a {
    display: flex;
    gap: 0;
    margin: 10px;
    flex-direction: row;
  }

  #contact .contactme {
    width: 80%;
    margin-top: 5%;
  }

  /* Akhir Contact */
}

/* Ukuran Handphone */
@media (max-width: 576px) {
  /* Home */

  #home .atas {
    flex-direction: column;
    align-items: center;
    margin-top: 6%;
  }

  #home .kiri {
    text-align: center;
    align-items: center;
  }

  #home .kiri h1 {
    font-size: 10vw;
  }

  #home .kiri input {
    width: 100%;
  }

  #home .hero {
    width: 50%;
  }

  #home .kiri input,
  p,
  h1 {
    margin-left: 0;
  }

  /* Akhir Home */

  /* About */

  #about {
    flex-direction: column;
    text-align: center;
  }
  #about .isi .profile {
    flex-direction: column;
  }

  /* Akhir About */

  /* Hobby */

  #hobby .daftar-hobby {
    flex-direction: column;
    width: 50%;
    gap: 20px;
  }

  /* Akhir Hobby */

  /* Band fav */

  #bandfav {
    flex-direction: column;
    text-align: center;
  }

  #bandfav .judul h1 {
    margin-left: 0;
    margin-bottom: 5%;
  }

  /* Akhir Band Fav */

  /* Contact */

  #contact {
    flex-direction: column;
    align-items: center;
  }

  #contact .infocontact h1 {
    font-size: 32px;
  }

  #contact .infocontact {
    align-items: center;
    display: flex;
  }

  #contact .infocontact .no,
  .email,
  .lokasi {
    justify-content: center;
    flex-direction: column;
    align-items: center;
  }

  #contact .infocontact .lokasi {
    margin-bottom: 4%;
  }

  #contact .infocontact .no h2,
  .email h2,
  .lokasi h2 {
    text-align: center;
    margin-left: 0;
    font-size: 14px;
  }

  #contact .infocontact .sosmed {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-left: 0;
  }

  #contact .infocontact .sosmed img {
    width: 10%;
  }

  #contact .contactme {
    width: 80%;
    margin-top: 5%;
  }

  /* Akhir Contact */
}
