html {
  scroll-behavior: smooth;
}

section {
  scroll-margin-top: 60px;
}

* {
  font-family: "Space Grotesk", sans-serif;
}

p {
  line-height: 1.2;
}

body {
  background-color: rgb(0, 0, 0);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  color: black;
}

/* Navbar */

#navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  width: 100%;
  margin: auto;
  top: 0;
  left: 0;
  right: 0;
  height: 10%;
  z-index: 999;
  background-color: rgb(0, 0, 0);
}

#navbar h1 {
  margin-left: 2.5%;
  font-size: 20px;
  font-weight: bold;
  color: rgb(25, 217, 153);
}

#navbar ul {
  display: flex;
  margin-right: 2.5%;
}

#navbar ul li a {
  color: aquamarine;
  transition: 0.3s;
  margin: 20px;
  position: relative;
  padding-bottom: 7px;
}

#navbar ul li a:hover {
  color: rgb(255, 255, 255);
}

#navbar ul li a::before {
  content: "";
  width: 0%;
  height: 3px;
  background-color: white;
  bottom: 0;
  position: absolute;
  left: 0;
  border-radius: 2px;
  box-shadow: 0 0 5px white;
  opacity: 0;
  transition: 0.3s;
}

#navbar ul li a:hover::before {
  opacity: 1;
  width: 100%;
}
/* Hamburger Menu */

.menu-toggle {
  display: none;
  flex-direction: column;
  height: 25px;
  justify-content: space-between;
  margin-right: 2.5%;
  position: relative;
}

.menu-toggle span {
  display: block;
  width: 28px;
  height: 3px;
  background-color: aquamarine;
  margin-left: 10%;
  transition: 0.5s;
}

.menu-toggle input {
  position: absolute;
  width: 50px;
  height: 30px;
  opacity: 0;
  left: -12px;
  top: -4px;
  cursor: pointer;
  z-index: 10;
}

/* Hamburger animation */

.menu-toggle span:nth-child(2) {
  transform-origin: 0 0;
}

.menu-toggle span:nth-child(4) {
  transform-origin: 0 100%;
}

.menu-toggle input:checked ~ span:nth-child(2) {
  transform: rotate(45deg) translate(-1px, -1px);
}

.menu-toggle input:checked ~ span:nth-child(4) {
  transform: rotate(-45deg) translate(2.5px, -4px);
}

.menu-toggle input:checked ~ span:nth-child(3) {
  transform: 0;
  opacity: 0;
}

/* Akhir Navbar */

/* Home */

#home {
  padding-top: 6%;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  width: 95%;
  margin: 6% auto 2%;
  border-radius: 10px;
  background: radial-gradient(aquamarine 30%, black 70%);
  transition: 0.5s;
}

#home .kiri {
  width: 37.5%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#home .kiri p {
  margin-left: 5%;
  font-size: 16px;
  margin-top: 2vw;
}

#home .kiri h1 {
  margin-left: 5%;
  font-size: 7vw;
}

#home .kiri a {
  margin-left: 5%;
  width: 40%;
  text-align: start;
  font-size: 16px;
  margin-top: 2vw;
  border-radius: 3px;
  background: black;
  color: white;
  text-align: center;
  padding: 5px;
  cursor: pointer;
  transition: 0.3s;
}

#home .kiri a:hover {
  color: rgb(0, 0, 0);
  background: aquamarine;
  box-shadow: 5px 5px 5px black;
}

#home .atas {
  display: flex;
  justify-content: space-evenly;
}

#home .hero {
  width: 30%;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 10;
}

#home .hero img {
  width: 100%;
  filter: drop-shadow(5px 5px 5px);
}

#home .bawah {
  margin: auto;
  font-size: 10vw;
  font-weight: bold;
  color: aquamarine;
  border: 3px solid aquamarine;
  z-index: 99;
  transition: 0.3s;
  text-align: center;
}

#home .bawah:hover {
  color: black;
  background-color: aquamarine;
}

/* Akhir Home */

/* About */

#about {
  width: 95%;
  display: flex;
  margin: 0 auto 6%;
  justify-content: space-between;
  align-items: center;
}

#about .hero {
  width: 40%;
  display: flex;
  justify-content: center;
}

#about img {
  width: 80%;
  filter: drop-shadow(5px 5px 5px aquamarine);
}

#about .isi {
  display: flex;
  flex-direction: column;
  width: 80%;
}

#about .isi .pengenalan {
  height: 20%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 3vw;
  margin-top: 5%;
  margin-bottom: 5%;
  color: aquamarine;
  border: 1px solid aquamarine;
  margin-right: 5%;
  border-radius: 5px;
  transition: 0.3s;
}

#about .isi .pengenalan:hover {
  color: black;
  background-color: aquamarine;
}

#about .isi .pengenalan h1 {
  font-size: 32px;
  font-weight: bold;
  margin-bottom: 10px;
}

#about .isi .profile {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-right: 5%;
  height: 60%;
}

#about .isi .pendidikan,
.pengalaman {
  margin: 5px;
}

#about .isi .profile .pendidikan {
  flex: 1;
  border: 1px solid aquamarine;
  display: flex;
  justify-content: center;
  flex-direction: column;
  border-radius: 5px;
  padding: 2vw;
  color: aquamarine;
  transition: 0.3s;
}

#about .isi .profile .pendidikan:hover {
  background-color: aquamarine;
  color: black;
}

#about .isi .profile .pengalaman:hover {
  background-color: aquamarine;
  color: black;
}

#about .isi .profile .pendidikan h1,
.pengalaman h1 {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 10px;
  text-align: center;
}

#about .isi .profile .pendidikan p {
  text-align: center;
  font-size: 16px;
}

#about .isi .profile .pengalaman {
  flex: 1;
  border: 1px solid aquamarine;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  border-radius: 5px;
  padding: 2vw;
  color: aquamarine;
  transition: 0.3s;
}

#about .isi .profile .pengalaman p {
  width: 80%;
  text-align: center;
  font-size: 16px;
}

/* Akhir About */

/* Hobby */
#hobby {
  display: flex;
  width: 95%;
  flex-direction: column;
  margin: 0 auto 6%;
}

#hobby h1 {
  font-size: 15vw;
  text-align: center;
  margin-bottom: 2vw;
  color: aquamarine;
}

#hobby .daftar-hobby {
  display: flex;
  width: 95%;
  margin: 10px;
  margin: auto;
  justify-content: space-between;
}

#hobby img {
  width: 100%;
  border-radius: 6px;
  transition: 0.5s;
}

#hobby .daftar-hobby .satu,
.dua,
.tiga,
.empat {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  border: 1px solid aquamarine;
  padding: 10px;
  border-radius: 6px;
  color: aquamarine;
  margin: 10px;
  position: relative;
  transition: 0.3s;
}

#hobby .daftar-hobby .satu:hover,
.dua:hover,
.tiga:hover,
.empat:hover {
  color: black;
  background-color: aquamarine;
}

#hobby .daftar-hobby .satu::after {
  position: absolute;
  content: "Hobi bermain gitar membuat saya lebih tenang, kreatif, dan mengekspresikan perasaan melalui alunan musik indah.";
  top: 70%;
  text-align: center;
  opacity: 0;
  transition: 0.3s;
  width: 80%;
}

#hobby .daftar-hobby .dua::after {
  position: absolute;
  content: "Hobi bermain bola melatih fisik, kekompakan tim, sportivitas, serta memberi kesenangan dan semangat hidup sehari-hari.";
  top: 70%;
  bottom: 0;
  text-align: center;
  opacity: 0;
  transition: 0.3s;
  width: 80%;
}

#hobby .daftar-hobby .tiga::after {
  position: absolute;
  content: "Hobi muaythai melatih disiplin, kekuatan fisik, mental tangguh, fokus, serta kepercayaan diri setiap hari konsisten.";
  top: 70%;
  bottom: 0;
  text-align: center;
  opacity: 0;
  transition: 0.3s;
  width: 80%;
}

#hobby .daftar-hobby .empat::after {
  position: absolute;
  content: "Hobi ngoding melatih logika, kreativitas, kesabaran, pemecahan masalah, serta membangun solusi digital bermanfaat.";
  top: 70%;
  bottom: 0;
  text-align: center;
  opacity: 0;
  transition: 0.3s;
  width: 80%;
}

#hobby .daftar-hobby .satu:hover::after,
#hobby .daftar-hobby .dua:hover::after,
#hobby .daftar-hobby .tiga:hover::after,
#hobby .daftar-hobby .empat:hover::after {
  opacity: 1;
}

#hobby .daftar-hobby .satu:hover img,
.dua:hover img,
.tiga:hover img,
.empat:hover img {
  transform: translateY(-30%);
  filter: drop-shadow(0px 5px 5px);
}

#hobby .daftar-hobby .satu:hover h2,
.dua:hover h2,
.tiga:hover h2,
.empat:hover h2 {
  display: none;
}

#hobby .daftar-hobby .satu h2,
.dua h2,
.tiga h2,
.empat h2 {
  font-size: 20px;
  text-align: center;
  font-weight: bold;
  margin-top: 20px;
  margin-bottom: 20px;
  display: flex;
}

/* Akhir Hobby */

/* Band Favorit */

#bandfav {
  display: flex;
  width: 95%;
  margin: 0 auto 6%;
  justify-content: center;
  align-items: center;
}

#bandfav .judul {
  font-size: 12vw;
  flex: 1;
}
#bandfav .judul h1 {
  margin-left: 10%;
  color: aquamarine;
}

#bandfav .daftarband {
  flex: 1;
}

#bandfav .daftarband img:hover {
  scale: 1.1;
}

#bandfav .daftarband img {
  width: 30%;
  margin: 2px;
  border-radius: 1vw;
  box-shadow: 0px 4px 1px aquamarine;
  transition: 0.3s;
}

/* Akhir Band Favorit */

/* Contact */

#contact {
  display: flex;
  margin: 0 auto 6%;
  width: 95%;
  color: aquamarine;
}

#contact .infocontact h1 {
  font-size: 20px;
  font-weight: bold;
}

#contact i {
  font-size: 40px;
}

#contact .infocontact {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  flex: 1;
}

#contact .infocontact .no a,
.email a,
.lokasi a {
  display: flex;
  margin-bottom: 4px;
  justify-content: start;
  font-size: 16px;
  cursor: pointer;
  transition: 0.3s;
  transition: 0.3s;
}

#contact .infocontact .no a:hover {
  color: white;
}

#contact .infocontact .email a:hover {
  color: white;
}

#contact .infocontact .lokasi a:hover {
  color: white;
}

#contact .infocontact .no h2,
.email h2,
.lokasi h2 {
  width: 50%;
  margin-left: 10px;
  text-align: start;
}

#contact .infocontact .sosmed i {
  margin-right: 10px;
  transition: 0.3s;
}

#contact .infocontact .sosmed a {
  display: flex;
}

#contact .contactme {
  display: flex;
  flex: 1.5;
  flex-direction: column;
  background: linear-gradient(110deg, rgba(32, 36, 36), rgb(0, 0, 0));
  padding: 5vw;
  border-radius: 30px;
  height: 100%;
  box-shadow: 2px 2px 1px rgb(15, 137, 96);
}

#contact .infocontact .no a,
.email a,
.lokasi a {
  display: flex;
  color: aquamarine;
  width: 80%;
  align-items: center;
}

#contact .sosmed {
  display: flex;
  gap: 20px;
}

#contact .sosmed a {
  transition: 0.3s;
  color: aquamarine;
  align-items: center;
  justify-content: center;
  display: flex;
}

#contact .sosmed a:hover {
  color: white;
}

#contact .contactme h1 {
  font-size: 5vw;
  font-weight: bold;
  text-align: start;
  margin-left: 20px;
  margin-bottom: 20px;
}

#contact .contactme input,
textarea,
button {
  display: flex;
  flex-direction: column;
  width: 95%;
  border: none;
  box-sizing: border-box;
  padding: 10px;
  margin: 0 auto 10px;
  background: black;
  border: 1px solid aquamarine;
  color: rgb(255, 255, 255);
  border-radius: 10px;
  transition: 0.3s;
}

#contact .contactme input::placeholder,
textarea::placeholder {
  color: rgb(198, 198, 198);
  font-family: "Space Grotesk", sans-serif;
}

#contact .contactme input:focus::placeholder,
textarea:focus::placeholder {
  color: black;
}

.alert {
  display: flex;
  flex-direction: row;
  width: 95%;
  gap: 20px;
  border: none;
  align-items: center;
  box-sizing: border-box;
  padding: 10px;
  margin: 0 auto 10px;
  background: aquamarine;
  color: black;
  transition: 0.3s;
  border-radius: 10px;
  justify-content: space-between;
  transition: ease-out;
}

.alert p {
  flex: 4;
}

.alert button {
  color: white;
  background-color: red;
  border-radius: 10px;
  padding: 5px;
  transition: 0.3s;
  flex: 1;
  margin: auto 0 auto;
}

.alert button:hover {
  background-color: rgb(180, 17, 17);
}

/* Animasi Loading Submit */

.dnone {
  display: none;
}

.loading {
  position: relative;
  background-color: rgb(24, 190, 135);
  color: black;
}

.loading::after {
  content: "";
  left: 41%;
  position: absolute;
  width: 20px;
  height: 20px;
  top: 13%;
  border-top: 3px solid black;
  background: transparent;
  border-radius: 50%;
  overflow: hidden;
  animation: spin 0.8s linear infinite;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}

/* Akhir Animasi Loading Submit */

#contact .contactme button[type="submit"] {
  background-color: aquamarine;
  color: black;
}

#contact .contactme button[type="submit"]:hover {
  background-color: rgb(24, 190, 135);
  color: black;
}

#contact .contactme input[type="text"]:focus,
textarea:focus {
  background-color: aquamarine;
  color: black;
}

#contact .contactme input[type="email"]:focus {
  background-color: aquamarine;
  color: black;
}

#contact .contactme textarea {
  height: 150px;
}

/* Akhir Contact */

/* Footer */
footer {
  width: 100%;
  background: linear-gradient(to top, rgb(27, 29, 29), rgb(0, 0, 0));
  color: white;
  display: flex;
  justify-content: center;
  height: 200px;
  align-items: center;
}

footer p,
footer a {
  text-decoration: none;
  color: white;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 7px;
  height: 100%;
}

footer a {
  margin-left: 5px;
}
/* Akhir Footer */

/* Responsif */

/* Ukuran Tablet  */
@media (max-width: 768px) {
  /* Navbar Uk Tablet */

  #navbar {
    height: 50px;
  }

  #navbar ul {
    position: absolute;
    display: flex;
    flex-direction: column;
    height: 50vh;
    width: 50%;
    top: 0;
    justify-content: space-evenly;
    background-color: rgb(0, 0, 0);
    margin-top: 40px;
    transition: 0.5s;
    opacity: 1;
    right: -100%;
    align-items: center;
    border-radius: 5px;
    box-shadow: -3px 3px 1px aquamarine;
    z-index: -1000;
  }

  #navbar ul li a {
    width: auto;
    height: auto;
    text-align: center;
  }

  #navbar ul.slide {
    right: 0;
  }

  #navbar .menu-toggle {
    display: flex;
    color: aquamarine;
  }

  /* Akhir Navbar Uk Tablet */

  /* Home Uk Tablet */

  #home .kiri input {
    width: 50%;
  }

  /* Akhir Home Uk Tablet */

  /* About Uk Tablet */

  #about {
    flex-direction: column;
  }

  #about .isi .profile {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 50%;
  }

  #about .isi .pendidikan,
  .pengalaman,
  .contact {
    margin: 10px;
  }

  #about .isi .pengenalan {
    margin-right: 0;
  }

  #about .isi .profile {
    margin-right: 0;
  }

  /* Akhir About Uk Tablet */

  /* Hobby Uk Tablet */
  #hobby .daftar-hobby {
    flex-direction: column;
    width: 60%;
  }

  #hobby .daftar-hobby .satu::after,
  #hobby .daftar-hobby .dua::after,
  #hobby .daftar-hobby .tiga::after,
  #hobby .daftar-hobby .empat::after {
    top: 80%;
  }
  /* Akhir Hobby Uk Tablet*/

  /* Band Fav Uk Tablet*/

  #bandfav {
    flex-direction: column;
    text-align: center;
  }

  #bandfav .judul h1 {
    margin-left: 0;
    margin-bottom: 5%;
  }

  /* Akhir Band Fav Uk Tablet*/

  /* Contact Uk Tablet*/

  #contact {
    flex-direction: column;
    align-items: center;
  }

  #contact .infocontact h1 {
    font-size: 32px;
  }

  #contact .infocontact {
    align-items: center;
    display: flex;
  }

  #contact .infocontact .no,
  .email,
  .lokasi {
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    margin: 10px;
    width: 100%;
  }

  #contact .infocontact .no a,
  .email a,
  .lokasi a {
    width: 100%;
  }

  #contact .sosmed {
    flex-direction: column;
  }

  #contact a {
    display: flex;
    flex-direction: column;
    text-align: center;
    color: aquamarine;
    align-items: center;
    width: 100%;
    gap: 20px;
  }

  #contact .infocontact .lokasi {
    margin-bottom: 4%;
  }

  #contact .infocontact .no h2,
  .email h2,
  .lokasi h2 {
    text-align: center;
    margin-left: 0;
    font-size: 14px;
  }

  #contact .infocontact .sosmed {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-left: 0;
  }

  #contact .infocontact .sosmed a {
    display: flex;
    gap: 0;
    margin: 10px;
    flex-direction: row;
  }

  #contact .contactme {
    width: 80%;
    margin-top: 5%;
  }

  .alert button {
    width: 30%;
  }
  /* Akhir Contact Uk Tablet*/
}

/* Ukuran Handphone */
@media (max-width: 576px) {
  /* Home Uk Hp */

  #home .atas {
    flex-direction: column;
    align-items: center;
    margin-top: 6%;
  }

  #home .kiri {
    text-align: center;
    align-items: center;
  }

  #home .kiri h1 {
    font-size: 10vw;
  }

  #home .kiri a {
    width: 80%;
    height: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  #home .hero {
    width: 50%;
  }

  #home .kiri a,
  #home .kiri p,
  #home .kiri h1 {
    margin-left: 0;
  }

  #home .bawah h1 {
    font-size: 10vw;
  }

  #home .kiri a:hover {
    color: rgb(0, 0, 0);
    background: aquamarine;
    box-shadow: 0 0 3px black;
  }

  /* Akhir Home Uk Hp */

  /* About Uk Hp */

  #about {
    flex-direction: column;
    text-align: center;
  }
  #about .isi .profile {
    flex-direction: column;
  }

  /* Akhir About Uk Hp */

  /* Hobby Uk Hp */

  #hobby .daftar-hobby {
    flex-direction: column;
    width: 80%;
    gap: 20px;
  }

  #hobby .daftar-hobby .satu::after,
  #hobby .daftar-hobby .dua::after,
  #hobby .daftar-hobby .tiga::after,
  #hobby .daftar-hobby .empat::after {
    width: 95%;
  }

  #hobby .daftar-hobby .satu::after,
  #hobby .daftar-hobby .dua::after,
  #hobby .daftar-hobby .tiga::after,
  #hobby .daftar-hobby .empat::after {
    top: 72.5%;
  }
  /* Akhir Hobby Uk Hp*/

  /* Band fav Uk Hp*/

  #bandfav {
    flex-direction: column;
    text-align: center;
  }

  #bandfav .judul h1 {
    margin-left: 0;
    margin-bottom: 5%;
  }

  /* Akhir Band Fav Uk Hp */

  /* Contact Uk Hp*/

  #contact {
    flex-direction: column;
    align-items: center;
  }

  #contact .infocontact h1 {
    font-size: 32px;
    text-align: center;
  }

  #contact .infocontact {
    align-items: center;
    display: flex;
  }

  #contact .infocontact .no,
  .email,
  .lokasi {
    justify-content: center;
    flex-direction: column;
    align-items: center;
  }

  #contact .infocontact .lokasi {
    margin-bottom: 4%;
  }

  #contact .infocontact .no h2,
  .email h2,
  .lokasi h2 {
    text-align: center;
    margin-left: 0;
    font-size: 14px;
  }

  #contact .infocontact .sosmed {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-left: 0;
  }

  #contact .infocontact .sosmed img {
    width: 10%;
  }

  #contact .contactme {
    width: 80%;
    margin-top: 5%;
  }

  .loading::after {
    left: 35%;
  }

  .alert a {
    width: 10px;
  }
  /* Akhir Contact Uk Hp*/
}
