body {
  /* background-image: url(../img/bg.png); */
  background-color: rgb(15, 14, 14);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  color: white;
  font-family: "Roboto", sans-serif;
}

/* Navbar */

#navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  width: 100%;
  margin: auto;
  top: 0;
  left: 0;
  right: 0;
  height: 10%;
  z-index: 999;
  background-color: rgb(0, 0, 0);
}

#navbar h1 {
  margin-left: 2.5%;
  font-size: 20px;
  font-weight: bold;
}

/* Hamburger Menu */

.menu-toggle {
  display: flex;
  flex-direction: column;
  height: 25px;
  justify-content: space-between;
  margin-right: 2.5%;
  position: relative;
}

.menu-toggle span {
  display: block;
  width: 28px;
  height: 3px;
  background-color: rgb(255, 255, 255);
  margin-left: 10%;
  transition: 0.5s;
}

.menu-toggle input {
  position: absolute;
  width: 50px;
  height: 30px;
  opacity: 0;
  left: -12px;
  top: -4px;
  cursor: pointer;
  z-index: 10;
}

/* Hamburger animation */

.menu-toggle span:nth-child(2) {
  transform-origin: 0 0;
}

.menu-toggle span:nth-child(4) {
  transform-origin: 0 100%;
}

.menu-toggle input:checked ~ span:nth-child(2) {
  transform: rotate(45deg) translate(-1px, -1px);
}

.menu-toggle input:checked ~ span:nth-child(4) {
  transform: rotate(-45deg) translate(2.5px, -4px);
}

.menu-toggle input:checked ~ span:nth-child(3) {
  transform: 0;
  opacity: 0;
}

/* Akhir Navbar */

/* Home */

#home {
  padding-top: 6%;
  display: flex;
  justify-content: space-between;
  width: 95%;
  margin: 6% auto 2%;
  border-radius: 10px;
  background: linear-gradient(110deg, rgba(32, 36, 36), rgb(5, 5, 5));
  box-shadow: 0px 2px 1px rgb(255, 255, 255, 0.6);
}

#home .kiri {
  width: 37.5%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#home .kiri p {
  margin-left: 5%;
}

#home .kiri h1 {
  margin-left: 5%;
  font-size: 7vw;
}

#home .kiri input {
  margin-left: 5%;
  width: 40%;
  text-align: start;
  font-size: 2vw;
  border: none;
  border-radius: 5px;
}

#home .hero {
  width: 30%;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 10;
}

#home .hero img {
  max-width: 100%;
}

#home .kanan {
  width: 37.5%;
  display: flex;
  justify-content: center;
  align-items: center;
}

#home .kanan p {
  margin-left: 5%;
  margin-right: 10%;
  text-align: justify;
}

/* Akhir Home */

/* About */

#about {
  width: 95%;
  display: flex;
  margin: 0 auto 6%;
  justify-content: space-between;
  align-items: center;
}

#about .hero {
  width: 40%;
  display: flex;
  justify-content: center;
}

#about img {
  width: 80%;
}

#about .isi {
  display: flex;
  flex-direction: column;
  width: 80%;
}

#about .isi .pengenalan {
  height: 20%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 3vw;
  margin-top: 5%;
  margin-bottom: 5%;
  background: linear-gradient(110deg, rgba(32, 36, 36), rgb(0, 0, 0));
  margin-right: 5%;
  border-radius: 5px;
  box-shadow: 0px 2px 1px rgb(255, 255, 255, 0.6);
}

#about .isi .pengenalan h1 {
  font-size: 3vw;
  font-weight: bold;
}

#about .isi .profile {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 20px;
  margin-right: 5%;
  height: 60%;
}

#about .isi .profile .pendidikan {
  flex: 1;
  background: linear-gradient(110deg, rgba(32, 36, 36), rgb(0, 0, 0));
  display: flex;
  justify-content: center;
  flex-direction: column;
  border-radius: 5px;
  padding: 2vw;
  box-shadow: 0px 2px 1px rgb(255, 255, 255, 0.6);
}

#about .isi .profile .pendidikan h1,
.pengalaman h1,
.contact h1 {
  font-size: 2vw;
  font-weight: bold;
  margin-bottom: 10px;
  text-align: center;
}

#about .isi .profile .pendidikan p {
  text-align: center;
  font-size: 1.2vw;
}

#about .isi .profile .pengalaman {
  flex: 1;
  background: linear-gradient(110deg, rgba(32, 36, 36), rgb(0, 0, 0));
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  border-radius: 5px;
  padding: 2vw;
  box-shadow: 0px 2px 1px rgb(255, 255, 255, 0.6);
}

#about .isi .profile .pengalaman p {
  width: 80%;
  text-align: center;
  font-size: 1.2vw;
}

#about .isi .profile .contact {
  flex: 1;
  background: linear-gradient(110deg, rgba(32, 36, 36), rgb(0, 0, 0));
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  border-radius: 5px;
  padding: 2vw;
  box-shadow: 0px 2px 1px rgb(255, 255, 255, 0.6);
}

/* Akhir About */

/* Hobby */
#hobby {
  display: flex;
  width: 95%;
  flex-direction: column;
  margin: 0 auto 6%;
}

#hobby h1 {
  font-size: 15vw;
  text-align: center;
  margin-bottom: 2vw;
}

#hobby .daftar-hobby {
  display: flex;
  width: 90%;
  gap: 2%;
  margin: auto;
}

#hobby img {
  width: 100%;
  border-radius: 6px;
  filter: grayscale(1);
}

#hobby .daftar-hobby .satu,
.tiga {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background: linear-gradient(110deg, rgba(32, 36, 36), rgb(0, 0, 0));
  padding: 10px;
  border-radius: 6px;
  box-shadow: 0px 2px 1px rgb(255, 255, 255, 0.6);
}
#hobby .daftar-hobby .dua,
.empat {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background: linear-gradient(110deg, rgba(32, 36, 36), rgb(0, 0, 0));
  padding: 10px;
  border-radius: 6px;
  box-shadow: 0px 2px 1px rgb(255, 255, 255, 0.6);
}

#hobby .daftar-hobby .satu h2,
.dua h2,
.tiga h2,
.empat h2 {
  font-size: 2vw;
  font-weight: bold;
  margin-top: 20px;
  margin-bottom: 20px;
  display: flex;
}

/* Akhir Hobby */

/* Band Favorit */

#bandfav {
  display: flex;
  width: 95%;
  margin: 0 auto 6%;
  justify-content: center;
  align-items: center;
}

#bandfav .judul {
  font-size: 12vw;
  flex: 1;
}
#bandfav .judul h1 {
  margin-left: 10%;
}

#bandfav .daftarband {
  flex: 1;
}

#bandfav .daftarband img {
  width: 30%;
  margin: 0.6;
  border-radius: 1vw;
  box-shadow: 0px 2px 1px rgb(255, 255, 255, 0.6);
}

/* Akhir Band Favorit */

/* Contact */

#contact {
  display: flex;
  margin: 0 auto 6%;
  width: 90%;
}

#contact .infocontact h1 {
  font-size: 20px;
  font-weight: bold;
}

#contact .infocontact {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  flex: 1;
}

#contact .infocontact img {
  width: 15%;
  background-color: rgb(255, 255, 255);
  border-radius: 50%;
  filter: invert(1);
}

#contact .infocontact .no,
.email,
.lokasi {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 4px;
  font-size: 1.5vw;
}

#contact .infocontact .no h2,
.email h2,
.lokasi h2 {
  width: 50%;
  margin-left: 10px;
}

#contact .infocontact .sosm1ed img {
  margin-right: 10px;
}

#contact .contactme {
  display: flex;
  flex: 1.5;
  flex-direction: column;
  background: linear-gradient(110deg, rgba(32, 36, 36), rgb(0, 0, 0));
  padding: 5vw;
  border-radius: 50px;
  height: 100%;
  box-shadow: 0px 2px 1px rgb(255, 255, 255, 0.6);
}

#contact .contactme h1 {
  font-size: 5vw;
  font-weight: bold;
  text-align: start;
  margin-left: 20px;
  margin-bottom: 20px;
}

#contact .contactme input,
textarea {
  display: flex;
  flex-direction: column;
  width: 95%;
  border: none;
  box-sizing: border-box;
  padding: 10px;
  margin: 0 auto 10px;
  background: linear-gradient(110deg, rgb(20, 23, 23), rgb(0, 0, 0));
  color: rgb(255, 255, 255);
  border-radius: 10px;
}

#contact .contactme textarea {
  height: 150px;
}

/* Akhir Contact */

/* Footer */
footer {
  width: 100%;
  background: linear-gradient(to bottom, rgba(32, 36, 36), rgb(0, 0, 0));
  color: white;
  display: flex;
  justify-content: center;
}

footer p,
a {
  text-decoration: none;
  color: white;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 50px;
  border-radius: 7px;
}
/* Akhir Footer */
